<form method="post" enctype="multipart/form-data" asp-controller="Uploads" asp-action="Index">
  
  <p>Upload one or more files using this form:</p>
  
  <input type="file" name="files" multiple>
  
  <input type="submit" value="Upload">
  
</form>